
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <a href="https://github.com/krishnavikas" target="_blank" alt> <i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/krishna-vikas-655155159/" target="_blank" alt> <i class="fa fa-linkedin"></i></a>
    <p class="copyright">
      &copy; <%= new Date().getFullYear() %> All rights reserved.
    </p>
  </div>
</div>
</body>
</html>
