<%- include("partials/header"); -%>
<div class="body-container">
    <h1>Contact</h1>
    <p>We'd love to hear from you! Please fill out the form below to get in touch.</p>

    <form action="/contact" method="POST">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            <br>
            <label for="subject">Subject:</label>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter the subject" required>
            <br>
            <label for="message">Message:</label>
            <textarea id="message" class="form-control" name="message" rows="5" cols="30" placeholder="Enter your message" required></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Send Message</button>
      </form>

      <% if (message) { %>
        <p style="color: green;"><%= message %></p>
      <% } %>
      <% if (error) { %>
        <p style="color: red;"><%= error %></p>
      <% } %>
    </div>
<%- include("partials/footer"); -%>
